//Theme color
$DD-yellow: #ffcc1e;
$DD-pink: #fb2366;
$DD-blue: #003f87;
$DD-green: #47d6c1;
$DD-black: #000;
$DD-white: #fff;

// Main

body {
  background: $DD-black;
  font-family: "Cabin", sans-serif;
  font-size: 1.7rem;
  font-style: normal;
  line-height: 1.5;
  color: $DD-white;
  margin: 0;
  padding: 0;
}
a,
p,
h1,
h2,
h3 {
  font-family: "Cabin", sans-serif;
  margin: 0;
}
h1 {
  letter-spacing: 3px;
}
li a {
  text-decoration: none;
  color: $DD-white;
}

ul,
ol {
  padding: 0;
  margin: 0;
}

*,
::after,
::before {
  box-sizing: border-box;
}

div {
  margin: 0;
}
.row {
  width: 86%;
  max-width: 1200px;
  margin: 0 auto;
}

h2 {
  font-size: 2rem;
  color: $DD-black;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  position: relative;
  margin-top: 0;
  margin-bottom: 1.2rem;
  margin-left: 6px;
  text-align: center;
}

h3 {
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.5);
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  position: relative;
  margin-top: 0;
  margin-bottom: 1.2rem;
  margin-left: 6px;
}
h1 {
  font-size: 3rem;
  line-height: 1.5;
  margin-top: 0;
  color: $DD-white;
}

//header
.header-logo a {
  display: block;
  position: fixed;
  margin: 9px 0 0;
  padding: 0;
  outline: 0;
  border: none;
  width: 80px;
}

.d-header {
  width: 100%;
  background-color: transparent;
  position: fixed;
  top: 0;
  z-index: 500;
  overflow: hidden;
  padding: 50px 90px;
}
.header-logo {
  margin: 0;
  padding: 0;
}

a img {
  border: none;
}
img,
video {
  height: auto;
}

.header-logo a {
  display: block;
  margin: 0;
  padding: 0;
  outline: 0;
  border: none;
  width: 80px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

//menu

nav.menu {
  float: right;
}

.main-menu ul {
  list-style: none;
}

.menu ul li {
  display: inline;
}

.menu ul li a {
  display: inline-block;
  text-transform: uppercase;
  font-size: 14px;
  color: $DD-white;
  padding: 10px 0px;
  margin-right: 80px;
  position: relative;
  text-decoration: none;
}

.site-logo img {
  width: 200px;
}

//button

a.active {
  border-bottom: 2px solid $DD-yellow;
}

nav a:hover {
  border-bottom: 2px solid $DD-pink;

  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

a.btn.btn-stroke {
  text-decoration: none;
  color: $DD-yellow;
  border: 2px solid $DD-yellow;
  padding: 15px 60px;
}

.home-content-buttons {
  margin-top: 80px;
  display: inline-block;
}

a.btn.btn-stroke:hover {
  color: $DD-black;
  border: none;
  background: $DD-yellow;

  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
