//Theme color
$DD-yellow: #ffcc1e;
$DD-pink: #fb2366;
$DD-blue: #003f87;
$DD-green: #47d6c1;
$DD-black: #000;
$DD-white: #fff;

.home-content-main h1 {
  text-align: center;
  width: 100%;
  font-size: 80px;
}

.home-content-p2 {
  background: $DD-white;
}
