//Theme color
$DD-yellow: #ffcc1e;
$DD-pink: #fb2366;
$DD-blue: #003f87;
$DD-green: #47d6c1;
$DD-black: #000;
$DD-white: #fff;

//media query break point
$break-median: 1024px;
$break-small: 768px;
$break-mobile: 414px;

//##     ##
//#### ####
//## ### ##
//##     ##
//##     ##
//##     ##

body {
  background: $DD-black;
  font-family: "Cabin", sans-serif;
  font-size: 1.7rem;
  font-style: normal;
  line-height: 1.5;
  color: $DD-white;
  margin: 0;
  padding: 0;
}
a,
p,
h1,
h2,
h3 {
  font-family: "Cabin", sans-serif;
  margin: 0;
}
h1 {
  letter-spacing: 3px;
}
li a {
  text-decoration: none;
  color: $DD-white;
}

ul,
ol {
  padding: 0;
  margin: 0;
}

*,
::after,
::before {
  box-sizing: border-box;
}

div {
  margin: 0;
}
.row {
  width: 86%;
  max-width: 1200px;
  margin: 0 auto;
}

h2 {
  font-size: 2rem;
  color: $DD-black;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  position: relative;
  margin-top: 0;
  margin-bottom: 1.2rem;
  margin-left: 6px;
  text-align: center;
}

h3 {
  text-align: center;
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.5);
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  position: relative;
  margin-top: 0;
  margin-bottom: 1.2rem;
  margin-left: 6px;
}
h1 {
  text-align: center;
  font-size: 3rem;
  line-height: 1.5;
  margin-top: 0;
  color: $DD-white;
}
section {
  padding: 40px;
}

//header
.header-logo a {
  display: block;
  position: fixed;
  margin: 9px 0 0;
  padding: 0;
  outline: 0;
  border: none;
  width: 80px;
}

.d-header {
  width: 100%;
  background-color: transparent;
  position: fixed;
  top: 0;
  z-index: 500;
  overflow: hidden;
  padding: 50px 90px;
}
.header-logo {
  margin: 0;
  padding: 0;
}

a img {
  border: none;
}
img,
video {
  height: auto;
}

.header-logo a {
  display: block;
  margin: 0;
  padding: 0;
  outline: 0;
  border: none;
  width: 80px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

//menu

nav.menu {
  float: right;
}

.main-menu ul {
  list-style: none;
}

.menu ul li {
  display: inline;
}

.menu ul li a {
  display: inline-block;
  text-transform: uppercase;
  font-size: 14px;
  color: $DD-white;
  padding: 10px 0px;
  margin-right: 0;
  position: relative;
  text-decoration: none;
  @media screen and (max-width: $break-small) {
  }
}

.site-logo img {
  width: 200px;
}

//button

a.active {
  border-bottom: 2px solid $DD-yellow;
}

.button-container {
  text-align: center;
  padding: 30px;
  margin-top: 40px;
}

.btn {
  text-decoration: none;
  padding: 15px 60px;
  margin: 40px;
}
.yellow-btn-stroke {
  color: $DD-yellow;
  border: 2px solid $DD-yellow;
}

.pink-btn-stroke {
  color: $DD-pink;
  border: 2px solid $DD-pink;
}

a,
a::after {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

a.btn::before,
a.btn::after {
  background: #fff;
  content: "";
  position: absolute;
  z-index: -1;
}

.btn {
  overflow: hidden;
}

.btn::after {
  height: 100%;
  left: -35%;
  top: 0;
  transform: skew(50deg);
  transition-duration: 0.6s;
  transform-origin: top left;
  width: 0;
}

.btn:hover:after {
  height: 100%;
  width: 135%;
}
