//Theme color
$DD-yellow: #ffcc1e;
$DD-pink: #fb2366;
$DD-blue: #003f87;
$DD-green: #47d6c1;
$DD-black: #000;
$DD-white: #fff;

$break-median: 1024px;
$break-small: 820px;
$break-mobile: 414px;

.cursor {
  display: block;
  position: absolute;
  height: 100%;
  top: 0;
  right: -5px;
  width: 2px;
  /* Change colour of Cursor Here */
  background-color: black;
  z-index: 1;
  animation: flash 0.5s none infinite alternate;
}
@keyframes flash {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

img.hero-bg {
  width: 100%;
}

#service {
  background-image: url(../imgs/Ser-P1.png);
  background-repeat: no-repeat;
  background-position: top center;
  -webkit-background-size: cover;
}

.home-content-main {
  position: relative;
  width: 100%;
  text-align: center;
  padding-top: 200px;
}

.sub-container {
  padding-top: 20%;
}

section.d-service-p2 {
  text-align: center;
  padding: 30px;
  min-height: 400px;
}

section.d-service-p3 {
  background: #cccccc6e;
  padding: 10px;
  @media screen and (max-width: $break-mobile) {
    min-height: auto;
    overflow: hidden;
  }
}

.block {
  width: 31%;
  display: block;
  float: left;
  height: auto;
  background: #fff;
  margin: 1%;
  text-align: center;
  padding: 34px;
  min-height: 155px;
  @media screen and (max-width: $break-mobile) {
    width: 48%;
    min-height: 130px;
  }
}
.quote-block {
  @media screen and (max-width: $break-mobile) {
    display: none;
  }
}
.block .block-content {
}
.block-1 {
  background: $DD-pink;
}
.block-2 {
  background: $DD-white;
  color: $DD-yellow;
}
.block-3 {
  background: $DD-green;
}
.block-4 {
  background: $DD-white;
  color: $DD-blue;
}
.block-5 {
  background: $DD-blue;
}
.block-6 {
  background: $DD-white;
  color: $DD-green;
}
.block-7 {
  background: $DD-green;
  @media screen and (max-width: $break-mobile) {
    display: none;
  }
}
.block-8 {
  background: $DD-white;
  color: $DD-pink;
}
.block-9 {
  background: $DD-yellow;
}

section.d-service-p4 {
  background: $DD-blue;
  text-align: center;
  padding: 50px;
  @media screen and (max-width: $break-mobile) {
    min-height: auto;
    overflow: hidden;
  }
}

section#service {
  min-height: 770px;
  @media screen and (max-width: $break-mobile) {
    min-height: 560px;
  }
}

.block-content img {
  width: 30%;
}
